@use "variables" as var;

#map {
  flex: 1;
  height: 100%;
  background-color: var.$color-light--1;
  border-radius: 4px;
  border: 1px solid var.$color-dark--1;

}


.leaflet-popup {
  font-size: 1.4rem;
  top: -10.5rem;
}



.leaflet-popup img {
  width: 2.4rem;
  margin-right: 1rem;

}

.popup-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var.$color-light--3;
  border-radius: 4px;
}


.leaflet-popup-tip-container {
  transform: translateX(-0.2rem);
}

.marker-btn {
  margin-left: 1rem;
  border: 1px solid var.$color-light--2;
  display: none;
}

@keyframes animate-user-marker {
  from {
    opacity: 0.5;
  }
}

.user-marker-animation {
  animation: animate-user-marker 2s infinite alternate;
}